#picture
  .img
    - if @picture.media
      = link_to @picture.media_link, title: 'Click to view larger version' do
        = @picture.media.html_safe
    - else
      %strong No Image Available!

  .credit
    - if @picture.credit
      %strong Credit:
      = @picture.credit.html_safe

  .explanation
    %h1 #{@picture.title}

    - if @picture.explanation
      = @picture.explanation.html_safe
    - else
      %strong No Explanation Available!

    = link_to 'View Original', nasa_url(@picture), class: 'original'


  .links
    = link_to 'Next', @picture.next_picture, class: 'next' if @picture.next_picture
    = link_to 'Home', root_url
    = link_to 'Previous', @picture.previous_picture, class: 'previous' if @picture.previous_picture
