!!!
%html
  %head
    %title APOD 2.0
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %link{:href => 'http://fonts.googleapis.com/css?family=Syncopate|Ubuntu', :rel => 'stylesheet', :type => 'text/css'}

  %body
    #top
      .container
        %h1
          = link_to 'Astronomy Picture of the Day', root_url

        %h2
          Mirror of
          = link_to "NASA's APOD", 'http://apod.nasa.gov/apod/archivepix.html'

    #page
      .container
        = yield
